
html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#image{
    width: 400px;
    height: 400px;
}

.container{
    width: 100%;
}

.row{
    height: 20%;
    width: 100%;
}

.tile{
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    outline: 1px black solid;
}

.tile:hover {
    background-color: #ecffe7;
}